#titre{color: Blue;}
#first{text-decoration: underline;
margin: 15px;
color: tomato;}
#second{font-style: italic;
font-size: 20px;
color: white;}
#list{font-style: oblique;
font-size: large;
color: white;}
body{background-color: black;}
#me{color: white;}
#button{background-color: white;
	margin: 20px;
	border: 5px;
	border-radius: 10px;
}
#button:hover{cursor: pointer;
background-color: red;}

#p3{color: white;}
#p4{color: white;}
#titles{color: skyblue;
margin: 15px;
text-decoration: underline;}
#image{margin-right: 60px; border-radius: 50%}
#img{margin-right: 60px;
margin-bottom: 100px;
border: 10px; border-color: skyblue;
border-radius: 8px;}
#ps{color: white;}
#:hover{color: red;}